* {
    margin: 0;
    padding: 0;
    font-family: 'Cookie', cursive;
}

header, footer {
    width:100%;
    background-color: black;
    font-family:  'Cookie', cursive;
    color:white;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
    color:white;
    width: 100%;   
	min-width: 100%;
    overflow-x:hidden;    
	font-family: 'Cookie', cursive;
}

#bladiguess{
    margin-right: 80px;
}

header {
    position:absolute;
    left:0px;
    top:0px;
}

a {
    color:white;
}
ul{
    text-align: center;
}
li {
    
    font-size:1.8rem;
    width:7.5%;
    padding: 30px;
    display: inline-flex;
}
#nr_tele{
    position: absolute;
    top:20px;
    right: 60px;
    font-size: 30px;
}
a:hover {
    color:#FFD77F;
}

.slider {
    width:100%;
    height:25%;
    background-color:black;
    background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    position:absolute;
    left:0px;
    top:10vh; 
}

#logo {
    position:absolute;
    left:2%;
    top:15px;
    width: 60px;
    height: 60px;
}

.slider span {
    position: absolute;
    top:35px;
    width: 500px;
    margin-left:2%;
    padding-left:2%;
    border-bottom: 3px solid white;
    font-size: 30px;

}

button {
    height: 40px;
    width: 200px;
    position:absolute;
    top:20%;
}

#guzik1 {
    color:#7FD7FF;
    left:2%;
	position: center;
	font-size: 30px;
    background-color:black;
    border:2px solid #7FD7FF;
}

#guzik2 {
    left:14%;
    background-color: #936c02;
    color:#FFD77F;
    border:2px solid #FFD77F;
	font-size: 30px;
    position: center;
}

button:hover {
    border:3px solid #333333 !important;
    color:#333333 !important;
    background-color:black !important;
}


.fotki {
    width:95%;
    height:20vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8%;
    position: absolute;
    top:40vh;
    left:2.5%;
}


#skladniki {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
	text-align:right;
	padding-top: 160px;
}

#receptura {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
	text-align:right;
	padding-top: 160px;
}

#dostawa {
    background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");
	text-align:right;
	padding-top: 160px;

}
.napis{
	font-size:30px;
    margin-right: 100px;
}

.fotki div {
    border: solid 3px black;
    background-size: cover;
    text-align: left;

}

.pizza {
    width:97.5%;
    height:50vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    background-color: black;
    position: absolute;
    top:65vh;
    left:1.3%;
    column-gap: 50px;
}



#pi1 {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/05/20/10/pizza-3000285_960_720.png");
}

#pi2  {
    background-image:url("https://cdn.pixabay.com/photo/2017/01/03/11/33/pizza-1949183__340.jpg") ;
}

#pi3  {
    background-image:url("https://cdn.pixabay.com/photo/2018/03/06/13/47/food-3203445_960_720.jpg") ;
}

#pi4 {
    background-image:url("https://cdn.pixabay.com/photo/2016/05/05/09/19/pizza-1373508_960_720.jpg");
}

.pifo {
    background-repeat: no-repeat;
    background-position: center;
}
.pizza div {
    border-top: 30px solid black;
    background-color:black;
    background-size: cover;
    height: 70%;
}


.pitext {
    text-align: center;
    width: 100%;
    height: 80%;
	 font-size:18px;
}


footer {
    padding-top:15px ;
    position:absolute;
    top:1200px;
    height:50px;
    background-color:black;
    text-align: center;
    font-size: 28px;
    
}

footer a {
    width:14%;
    display: inline-block;
}
